<footer class="site-footer">
    <div class="inner">
        <div class="social-links">
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-x-twitter"></i></span><span class="screen-reader-text">X-Twitter</span></a>
            {% endif %}
            {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-facebook"></i></span><span class="screen-reader-text">Facebook</span></a>
            {% endif %}
            {% if site.googleplus_username %}
            <a href="https://plus.google.com/{{ site.googleplus_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-google-plus"></i></span><span class="screen-reader-text">Google+</span></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-github"></i></span><span class="screen-reader-text">GitHub</span></a>
            {% endif %}
            {% if site.codepen_username %}
            <a href="http://codepen.io/{{ site.codepen_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-codepen"></i></span><span class="screen-reader-text">CodePen</span></a>
            {% endif %}
            {% if site.dribbble_uername %}
            <a href="https://dribbble.com/{{ site.dribbble_uername }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-dribbble"></i></span><span class="screen-reader-text">Dribbble</span></a>
            {% endif %}
            {% if site.medium_username %}
            <a href="https://medium.com/{{ site.medium_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-medium"></i></span><span class="screen-reader-text">Medium</span></a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="http://instagram.com/{{ site.instagram_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-instagram"></i></span><span class="screen-reader-text">Instagram</span></a>
            {% endif %}
            {% if site.pinterest_username %}
            <a href="http://www.pinterest.com/{{ site.pinterest_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-pinterest"></i></span><span class="screen-reader-text">Pinterest</span></a>
            {% endif %}
            {% if site.youtube_username %}
            <a href="https://www.youtube.com/{{ site.youtube_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-youtube"></i></span><span class="screen-reader-text">YouTube</span></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="square fill-horizontal"><span><i class="fa-brands fa-linkedin"></i></span><span class="screen-reader-text">LinkedIn</span></a>
            {% endif %}
            {% if site.email_username %}
            <a href="{{site.baseurl}}/contact" class="square fill-horizontal"><span><i class="fa-solid fa-envelope"></i></span><span class="screen-reader-text">Email</span></a>
            {% endif %}
            <a href="/about/" class="square fill-horizontal"><span><i class="fa-solid fa-address-card"></i></span><span class="screen-reader-text">About</span></a>
            <a class="square fill-horizontal" href="{{ site.baseurl }}/feed.xml" target="_blank"><span><i class="fa-solid fa-rss"></i></span><span class="screen-reader-text">RSS</span></a>
        </div><!-- .social-links -->
        <div class="site-info">
            <p>
                <a href="https://www.iubenda.com/privacy-policy/96887377" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                <a href="https://www.iubenda.com/privacy-policy/96887377/cookie-policy" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>       
            </p>   
            &copy; <a href="{{ site.baseurl }}/">{{site.title}}</a> all rights reserved. <br />Powered by <a target="_blank" href="https://jekyllrb.com/">Jekyll</a>.
            <a href="#top" id="top-link" class="top-link square fill-horizontal"><span><i class="fa-solid fa-chevron-up"></i></span><span class="screen-reader-text">Back to the top</span></a>
        </div><!-- .site-info -->
    </div><!-- .inner -->
</footer><!-- .site-footer -->
