<!-- Header -->
	<section id="header">
		<header>
			<span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
			<h1 id="logo">{{ site.author.name }}</h1>
			<p>{{ site.author.bio }}</p>
		</header>
		<nav id="nav">
			<ul>
				<li><a href="#one" class="active">What Is This All About?</a></li>
				<li><a href="#two">About me</a></li>
				<li><a href="#three">Things I Can Do</a></li>
				<li><a href="#four">A Few Accomplishments</a></li>
				<li><a href="#five">Some Writing</a></li>
			</ul>
		</nav>
		<footer>
			<ul class="icons">
				{% if site.author.linkedin %}
					<li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" class="icon fa-linkedin"><span class="label">LikedIn</span></a></li>
				{% endif %}

				{% if site.author.github %}
					<li><a href="http://github.com/{{ site.author.github }}" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
				{% endif %}
				
				{% if site.author.twitter %}
					<li><a href="http://twitter.com/{{ site.author.twitter }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				{% endif %}

				{% if site.author.email %}
				<li><a href="mailto:{{ site.author.email }}" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a></li>
				{% endif %}

				{% if site.author.rss %}
				<li><a href="{{ site.baseurl }}/{{ site.author.rss }}" target="_blank" class="icon fa-rss"><span class="label">RSS</span></a></li>
				{% endif %}
			</ul>
		</footer>
	</section>